## Heap Sort

## Lists in python
***

In [1]:
# Lists in python can be created with square bracket notation.
# they are zero indexed.
L = [1, 2, 3, "Hello, world!", None, True]

In [2]:
L[3]

'Hello, world!'

In [3]:
# create lists with the list() function
list({1,2,3,3})

[1, 2, 3]

In [4]:
# using negative indexes.
L[-1]

True

In [5]:
L[-3]

'Hello, world!'

In [6]:
# in-built functions for creating iterables.
# count in twos up to 100.
list(range(0, 100, 2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [7]:
L = list(range(20))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
# List slicing.
L[1:10:2]
L[2:10:3]

[2, 5, 8]

In [9]:
L[4:]

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [10]:
L[:5]

[0, 1, 2, 3, 4]

In [11]:
# Quick way to cycle the list to the left.
i =5
L[i:] + L[:i]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4]

In [12]:
# Tuples. -- Immutable.
T = (1,2,3,4)

In [13]:
# select elements.
T[0]

1

In [14]:
# Slice elements.
T[3:]

(4,)

In [15]:
# can't assign. - would give an error
# T[2]= 100

In [16]:
# Tuples are created with commas as opposed to round brackets.
T = 1,2,3,4
T

(1, 2, 3, 4)

In [17]:
hash(T)

590899387183067792

In [18]:
# You can use tuples for assignment.
a, b = 3, 4

In [19]:
a

3

In [20]:
b

4

In [21]:
# trick for swapping two values
a, b = b, a

In [22]:
a

4

In [23]:
b

3

In [24]:
# List of integers
L = list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
# List comprehension.
[i**3  for i in L]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [26]:
# curve ball.
# reverse list.
L[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]




## Bubble Sort
***

In [27]:
# Import a module from the standard library.
import random

In [28]:
# create list of integers.
L = list(range(1,11))

In [29]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
# shuffle the list.
random.shuffle(L)

In [31]:
# the list is shuffled
L

[3, 7, 9, 6, 5, 8, 4, 1, 10, 2]

In [32]:
# bubble sort as a function.

def bubble_sort(L):
    # track number of comparisons
    no_comparisons = 0

    # bubble every (biggest) element up.
    for j in range(len(L)-1):
        # keep track of any swaps.
        swapped = False
        # compare all elements that are side by side.
        for i in range(len(L)-1 -j):
            # compare ith element with the (i+1).
            if L[i] > L[i+1]:
                # swap the elements.
                L[i], L[i+1] = L[i+1], L[i]
                # keep track of the swap.
                swapped = True
            # add a comparison.
            no_comparisons = no_comparisons + 1
        # quit if no swaps were made
        if not swapped:
            break
    # Return number of comparisons made
    return no_comparisons

In [33]:
L

[3, 7, 9, 6, 5, 8, 4, 1, 10, 2]

In [34]:
no_comparisons

NameError: name 'no_comparisons' is not defined

In [ ]:
# Create a list.
L = list(range(1,11))

# Shuffle it.
random.shuffle(L)

# Look at it.
L

In [ ]:
# function works on L in place.
bubble_sort(L)

In [ ]:
L

In [ ]:
# Once the list is sorted - bubble sort is O(n).
bubble_sort(L)

In [ ]:
# The worst case for bubble sort.
L[::-1]

In [ ]:
# Still O(n^2)
bubble_sort(L[::-1])

In [ ]:
sum(range(10))

## Heap Sort
#### Transplanted from wikipedia
***

In [ ]:
def heapify(a, count):
    start = (count -2) //2  # ((count - (count % 2)) /2) -1
    
    while start >=0:
        siftDown(a, start, count -1)
        start = start -1

In [ ]:
def siftDown(a, start, end):
    root = start
    
    while (2 * root + 1) <= end:
        child = (2 * root + 1)
        swap = root
        
        if a[swap] < a[child]:
            swap = child
        if child +1 <= end and a[swap] < a[child +1]:
            swap = child + 1
        if swap == root:
            return
        else:
            a[root], a[swap] = a[swap], a[root]
            root = swap

In [ ]:
def heapsort(a):
    count = len(a)
    
    heapify(a, count)
    end = count -1
    
    while end > 0:
        a[0], a[end] = a[end], a[0]
        end = end -1
        siftDown(a, 0, end)

In [ ]:
L = [5,1,3,7,8,9]

In [ ]:
L

In [ ]:
heapsort(L)
L

In [ ]:
import itertools

for perm in itertools.permutations(range(5)):
    L = list(perm)
    heapsort(L)
    print(f'{perm}  -> {L}')