## Heap Sort

## Lists in python
***

In [1]:
# Lists in python can be created with square bracket notation.
# they are zero indexed.
L = [1, 2, 3, "Hello, world!", None, True]

In [2]:
L[3]

'Hello, world!'

In [3]:
# create lists with the list() function
list({1,2,3,3})

[1, 2, 3]

In [4]:
# using negative indexes.
L[-1]

True

In [5]:
L[-3]

'Hello, world!'

In [6]:
# in-built functions for creating iterables.
# count in twos up to 100.
list(range(0, 100, 2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [7]:
L = list(range(20))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
# List slicing.
L[1:10:2]
L[2:10:3]

[2, 5, 8]

In [9]:
L[4:]

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [10]:
L[:5]

[0, 1, 2, 3, 4]

In [11]:
# Quick way to cycle the list to the left.
i =5
L[i:] + L[:i]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 0, 1, 2, 3, 4]

In [12]:
# Tuples. -- Immutable.
T = (1,2,3,4)

In [13]:
# select elements.
T[0]

1

In [14]:
# Slice elements.
T[3:]

(4,)

In [15]:
# can't assign. - would give an error
# T[2]= 100

In [16]:
# Tuples are created with commas as opposed to round brackets.
T = 1,2,3,4
T

(1, 2, 3, 4)

In [17]:
hash(T)

590899387183067792

In [18]:
# You can use tuples for assignment.
a, b = 3, 4

In [19]:
a

3

In [20]:
b

4

In [21]:
# trick for swapping two values
a, b = b, a

In [22]:
a

4

In [23]:
b

3

In [24]:
# List of integers
L = list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
# List comprehension.
[i**3  for i in L]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [26]:
# curve ball.
# reverse list.
L[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]




## Bubble Sort
***

In [27]:
# Import a module from the standard library.
import random

In [28]:
# create list of integers.
L = list(range(1,11))

In [29]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
# shuffle the list.
random.shuffle(L)

In [31]:
# the list is shuffled
L

[1, 2, 6, 7, 5, 10, 3, 9, 4, 8]

In [32]:
# bubble sort as a function.

def bubble_sort(L):
    # track number of comparisons
    no_comparisons = 0

    # bubble every (biggest) element up.
    for j in range(len(L)-1):
        # keep track of any swaps.
        swapped = False
        # compare all elements that are side by side.
        for i in range(len(L)-1 -j):
            # compare ith element with the (i+1).
            if L[i] > L[i+1]:
                # swap the elements.
                L[i], L[i+1] = L[i+1], L[i]
                # keep track of the swap.
                swapped = True
            # add a comparison.
            no_comparisons = no_comparisons + 1
        # quit if no swaps were made
        if not swapped:
            break
    # Return number of comparisons made
    return no_comparisons

In [33]:
# Create a list.
L = list(range(1,11))

# Shuffle it.
random.shuffle(L)

# Look at it.
L

[2, 6, 7, 3, 10, 9, 1, 8, 4, 5]

In [34]:
# function works on L in place.
bubble_sort(L)

42

In [35]:
L

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
# Once the list is sorted - bubble sort is O(n).
bubble_sort(L)

9

In [37]:
# The worst case for bubble sort.
L[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [38]:
# Still O(n^2)
bubble_sort(L[::-1])

45

In [39]:
sum(range(10))

45

## Heap Sort
#### Transplanted from wikipedia
***

In [40]:
def siftDown(L, parent, end):
    """L[parent:end+1] should almost be a max heap.
        siftDown repairs it so that it is one."""
    
    # Keep track of the number of comparisons.
    no_comparisons = 0
    
    # While parent is actually a parent (has at least a left child).
    while 2 * parent + 1 <= end:
        # The indices of the children of parent.
        lchild = 2 * parent + 1
        rchild = 2 * parent + 2
        
        
        # Assume parent is larger than the children.
        swap = parent
        # Is the parent smaller than the left child?
        if L[swap] < L[lchild]:
            # Then swap is set to index of left child.
            swap = lchild
            # Increment no_comparisons.
            no_comparisons = no_comparisons + 1
            
        # Check if right child exists and is smaller than L[swap].
        if rchild +1 <= end and L[swap] < L[rchild]:
            # Then swap is set to index of right child.
            swap = rchild
            # Increment no_comparisons.
            no_comparisons = no_comparisons + 1
            
        # We have a max heap if the parent is bigger thaan the children.
        if swap == parent:
            break
        else:
            # Swap the parent with the bigger child.
            L[parent], L[swap] = L[swap], L[parent]
            # Set parent to bugger child's index
            parent = swap
    # Return number of comparisons.
    return no_comparisons

In [41]:
def heapsort(L):
    """Sorts the list L in-place using Heap Sort."""
    
    # Keep track of the number of comparisons.
    no_comparisons = 0
    
    # Turn L into a max heap.
    # Index of the last element.
    last_element = len(L) - 1
    
    # Find the last parent.
    last_parent = (last_element - 1) //2
    # Loop backwards through all parents.
    for parent in range(last_parent, -1, -1):
        # Sift down.
        no_comparisons = no_comparisons + siftDown(L, parent, last_element)
        
    # Segregate the list L into two parts:
    #    1. L[:end] is a max heap.
    #    2. Each element beyond end is greater than everything before it.
    # While there are still elements in the heap.
    for end in range(last_element, 0, -1):
        # Swap the element at index 0 with the element at index end.
        L[0], L[end] = L[end], L[0]
        # Fix the heap - the root is currently out of place.
        no_comparisons = no_comparisons + siftDown(L, 0, end - 1)
        
    # Return the number of comparisons
    return no_comparisons

In [42]:
# Example list from wikipedia diagram.
L = [19, 100, 36, 25, 3, 17, 7, 2, 1]
L

[19, 100, 36, 25, 3, 17, 7, 2, 1]

In [43]:
# Show heap sort working.
heapsort(L)
L

[1, 2, 3, 7, 17, 19, 25, 36, 100]

<br>

## Comparing Algorithms
***

In [44]:
# Perform heap sort, show number of comparisons.
L = [19, 100, 36, 25, 3, 17, 7, 2, 1]
no_comparisons = heapsort(L)
L, no_comparisons

([1, 2, 3, 7, 17, 19, 25, 36, 100], 13)

In [45]:
# Perform bubble sort, show number of comparisons.
L = [19, 100, 36, 25, 3, 17, 7, 2, 1]
no_comparisons = bubble_sort(L)
L, no_comparisons

([1, 2, 3, 7, 17, 19, 25, 36, 100], 36)

In [46]:
# Module full of combinatorial functions.
import itertools

# Length of example list.
n = 5

# Loop through all permutations of the list of integers from 0 to n.
for perm in itertools.permutations(range(n)):
    L = list(perm)
    bubb_comp = bubble_sort(L)
    L = list(perm)
    heap_comp = heapsort(L)
    print(f'{str(perm)[1:-1]}|{bubb_comp}|{heap_comp}')

0, 1, 2, 3, 4|4|4
0, 1, 2, 4, 3|7|4
0, 1, 3, 2, 4|7|5
0, 1, 3, 4, 2|9|5
0, 1, 4, 2, 3|7|5
0, 1, 4, 3, 2|9|6
0, 2, 1, 3, 4|7|4
0, 2, 1, 4, 3|7|4
0, 2, 3, 1, 4|9|4
0, 2, 3, 4, 1|10|6
0, 2, 4, 1, 3|9|4
0, 2, 4, 3, 1|10|7
0, 3, 1, 2, 4|7|3
0, 3, 1, 4, 2|9|5
0, 3, 2, 1, 4|9|3
0, 3, 2, 4, 1|10|5
0, 3, 4, 1, 2|9|5
0, 3, 4, 2, 1|10|6
0, 4, 1, 2, 3|7|3
0, 4, 1, 3, 2|9|4
0, 4, 2, 1, 3|9|3
0, 4, 2, 3, 1|10|4
0, 4, 3, 1, 2|9|4
0, 4, 3, 2, 1|10|5
1, 0, 2, 3, 4|7|3
1, 0, 2, 4, 3|7|3
1, 0, 3, 2, 4|7|4
1, 0, 3, 4, 2|9|4
1, 0, 4, 2, 3|7|4
1, 0, 4, 3, 2|9|5
1, 2, 0, 3, 4|9|5
1, 2, 0, 4, 3|9|5
1, 2, 3, 0, 4|10|3
1, 2, 3, 4, 0|10|7
1, 2, 4, 0, 3|10|3
1, 2, 4, 3, 0|10|6
1, 3, 0, 2, 4|9|4
1, 3, 0, 4, 2|9|6
1, 3, 2, 0, 4|10|2
1, 3, 2, 4, 0|10|6
1, 3, 4, 0, 2|10|4
1, 3, 4, 2, 0|10|5
1, 4, 0, 2, 3|9|4
1, 4, 0, 3, 2|9|5
1, 4, 2, 0, 3|10|2
1, 4, 2, 3, 0|10|5
1, 4, 3, 0, 2|10|3
1, 4, 3, 2, 0|10|6
2, 0, 1, 3, 4|7|3
2, 0, 1, 4, 3|7|3
2, 0, 3, 1, 4|9|3
2, 0, 3, 4, 1|10|5
2, 0, 4, 1, 3|9|3
2, 0, 4, 3, 1|10|5
2, 1, 0, 3, 4|9|4
2, 1, 0, 4, 3|9|4
2, 1, 3, 0, 4|10|2
2, 1, 3, 4, 0|10|6
2, 1, 4, 0, 3|10|2
2, 1, 4, 3, 0|10|6
2, 3, 0, 1, 4|9|3
2, 3, 0, 4, 1|10|7
2, 3, 1, 0, 4|10|2
2, 3, 1, 4, 0|10|6
2, 3, 4, 0, 1|10|4
2, 3, 4, 1, 0|10|5
2, 4, 0, 1, 3|9|3
2, 4, 0, 3, 1|10|6
2, 4, 1, 0, 3|10|2
2, 4, 1, 3, 0|10|5
2, 4, 3, 0, 1|10|4
2, 4, 3, 1, 0|10|5
3, 0, 1, 2, 4|7|2
3, 0, 1, 4, 2|9|4
3, 0, 2, 1, 4|9|2
3, 0, 2, 4, 1|10|4
3, 0, 4, 1, 2|9|4
3, 0, 4, 2, 1|10|5
3, 1, 0, 2, 4|9|3
3, 1, 0, 4, 2|9|5
3, 1, 2, 0, 4|10|1
3, 1, 2, 4, 0|10|5
3, 1, 4, 0, 2|10|3
3, 1, 4, 2, 0|10|6
3, 2, 0, 1, 4|9|2
3, 2, 0, 4, 1|10|6
3, 2, 1, 0, 4|10|1
3, 2, 1, 4, 0|10|5
3, 2, 4, 0, 1|10|4
3, 2, 4, 1, 0|10|5
3, 4, 0, 1, 2|9|4
3, 4, 0, 2, 1|10|5
3, 4, 1, 0, 2|10|3
3, 4, 1, 2, 0|10|4
3, 4, 2, 0, 1|10|3
3, 4, 2, 1, 0|10|4
4, 0, 1, 2, 3|7|2
4, 0, 1, 3, 2|9|3
4, 0, 2, 1, 3|9|2
4, 0, 2, 3, 1|10|3
4, 0, 3, 1, 2|9|3
4, 0, 3, 2, 1|10|4
4, 1, 0, 2, 3|9|3
4, 1, 0, 3, 2|9|4
4, 1, 2, 0, 3|10|1
4, 1, 2, 3, 0|10|4
4, 1, 3, 0, 2|10|2
4, 1, 3, 2, 0|10|5
4, 2, 0, 1, 3|9|2
4, 2, 0, 3, 1|10|5
4, 2, 1, 0, 3|10|1
4, 2, 1, 3, 0|10|4
4, 2, 3, 0, 1|10|3
4, 2, 3, 1, 0|10|4
4, 3, 0, 1, 2|9|3
4, 3, 0, 2, 1|10|4
4, 3, 1, 0, 2|10|2
4, 3, 1, 2, 0|10|3
4, 3, 2, 0, 1|10|2
4, 3, 2, 1, 0|10|3

Using pandas:

In [47]:
# Like Excel for Python
import pandas as pd

In [48]:
# Length of example list.
n = 5

results = [[str(perm)[1:-1],bubble_sort(list(perm)), heapsort(list(perm))] for perm in itertools.permutations(range(n))]

In [49]:
# Peak at the results.
results

[['0, 1, 2, 3, 4', 4, 4],
 ['0, 1, 2, 4, 3', 7, 4],
 ['0, 1, 3, 2, 4', 7, 5],
 ['0, 1, 3, 4, 2', 9, 5],
 ['0, 1, 4, 2, 3', 7, 5],
 ['0, 1, 4, 3, 2', 9, 6],
 ['0, 2, 1, 3, 4', 7, 4],
 ['0, 2, 1, 4, 3', 7, 4],
 ['0, 2, 3, 1, 4', 9, 4],
 ['0, 2, 3, 4, 1', 10, 6],
 ['0, 2, 4, 1, 3', 9, 4],
 ['0, 2, 4, 3, 1', 10, 7],
 ['0, 3, 1, 2, 4', 7, 3],
 ['0, 3, 1, 4, 2', 9, 5],
 ['0, 3, 2, 1, 4', 9, 3],
 ['0, 3, 2, 4, 1', 10, 5],
 ['0, 3, 4, 1, 2', 9, 5],
 ['0, 3, 4, 2, 1', 10, 6],
 ['0, 4, 1, 2, 3', 7, 3],
 ['0, 4, 1, 3, 2', 9, 4],
 ['0, 4, 2, 1, 3', 9, 3],
 ['0, 4, 2, 3, 1', 10, 4],
 ['0, 4, 3, 1, 2', 9, 4],
 ['0, 4, 3, 2, 1', 10, 5],
 ['1, 0, 2, 3, 4', 7, 3],
 ['1, 0, 2, 4, 3', 7, 3],
 ['1, 0, 3, 2, 4', 7, 4],
 ['1, 0, 3, 4, 2', 9, 4],
 ['1, 0, 4, 2, 3', 7, 4],
 ['1, 0, 4, 3, 2', 9, 5],
 ['1, 2, 0, 3, 4', 9, 5],
 ['1, 2, 0, 4, 3', 9, 5],
 ['1, 2, 3, 0, 4', 10, 3],
 ['1, 2, 3, 4, 0', 10, 7],
 ['1, 2, 4, 0, 3', 10, 3],
 ['1, 2, 4, 3, 0', 10, 6],
 ['1, 3, 0, 2, 4', 9, 4],
 ['1, 3, 0, 4, 2', 9, 6],
 ['1, 3, 2, 0, 4', 10, 2],
 ['1, 3, 2, 4, 0', 10, 6],
 ['1, 3, 4, 0, 2', 10, 4],
 ['1, 3, 4, 2, 0', 10, 5],
 ['1, 4, 0, 2, 3', 9, 4],
 ['1, 4, 0, 3, 2', 9, 5],
 ['1, 4, 2, 0, 3', 10, 2],
 ['1, 4, 2, 3, 0', 10, 5],
 ['1, 4, 3, 0, 2', 10, 3],
 ['1, 4, 3, 2, 0', 10, 6],
 ['2, 0, 1, 3, 4', 7, 3],
 ['2, 0, 1, 4, 3', 7, 3],
 ['2, 0, 3, 1, 4', 9, 3],
 ['2, 0, 3, 4, 1', 10, 5],
 ['2, 0, 4, 1, 3', 9, 3],
 ['2, 0, 4, 3, 1', 10, 5],
 ['2, 1, 0, 3, 4', 9, 4],
 ['2, 1, 0, 4, 3', 9, 4],
 ['2, 1, 3, 0, 4', 10, 2],
 ['2, 1, 3, 4, 0', 10, 6],
 ['2, 1, 4, 0, 3', 10, 2],
 ['2, 1, 4, 3, 0', 10, 6],
 ['2, 3, 0, 1, 4', 9, 3],
 ['2, 3, 0, 4, 1', 10, 7],
 ['2, 3, 1, 0, 4', 10, 2],
 ['2, 3, 1, 4, 0', 10, 6],
 ['2, 3, 4, 0, 1', 10, 4],
 ['2, 3, 4, 1, 0', 10, 5],
 ['2, 4, 0, 1, 3', 9, 3],
 ['2, 4, 0, 3, 1', 10, 6],
 ['2, 4, 1, 0, 3', 10, 2],
 ['2, 4, 1, 3, 0', 10, 5],
 ['2, 4, 3, 0, 1', 10, 4],
 ['2, 4, 3, 1, 0', 10, 5],
 ['3, 0, 1, 2, 4', 7, 2],
 ['3, 0, 1, 4, 2', 9, 4],
 ['3, 0, 2, 1, 4', 9, 2],
 ['3, 0, 2, 4, 1', 10, 4],
 ['3, 0, 4, 1, 2', 9, 4],
 ['3, 0, 4, 2, 1', 10, 5],
 ['3, 1, 0, 2, 4', 9, 3],
 ['3, 1, 0, 4, 2', 9, 5],
 ['3, 1, 2, 0, 4', 10, 1],
 ['3, 1, 2, 4, 0', 10, 5],
 ['3, 1, 4, 0, 2', 10, 3],
 ['3, 1, 4, 2, 0', 10, 6],
 ['3, 2, 0, 1, 4', 9, 2],
 ['3, 2, 0, 4, 1', 10, 6],
 ['3, 2, 1, 0, 4', 10, 1],
 ['3, 2, 1, 4, 0', 10, 5],
 ['3, 2, 4, 0, 1', 10, 4],
 ['3, 2, 4, 1, 0', 10, 5],
 ['3, 4, 0, 1, 2', 9, 4],
 ['3, 4, 0, 2, 1', 10, 5],
 ['3, 4, 1, 0, 2', 10, 3],
 ['3, 4, 1, 2, 0', 10, 4],
 ['3, 4, 2, 0, 1', 10, 3],
 ['3, 4, 2, 1, 0', 10, 4],
 ['4, 0, 1, 2, 3', 7, 2],
 ['4, 0, 1, 3, 2', 9, 3],
 ['4, 0, 2, 1, 3', 9, 2],
 ['4, 0, 2, 3, 1', 10, 3],
 ['4, 0, 3, 1, 2', 9, 3],
 ['4, 0, 3, 2, 1', 10, 4],
 ['4, 1, 0, 2, 3', 9, 3],
 ['4, 1, 0, 3, 2', 9, 4],
 ['4, 1, 2, 0, 3', 10, 1],
 ['4, 1, 2, 3, 0', 10, 4],
 ['4, 1, 3, 0, 2', 10, 2],
 ['4, 1, 3, 2, 0', 10, 5],
 ['4, 2, 0, 1, 3', 9, 2],
 ['4, 2, 0, 3, 1', 10, 5],
 ['4, 2, 1, 0, 3', 10, 1],
 ['4, 2, 1, 3, 0', 10, 4],
 ['4, 2, 3, 0, 1', 10, 3],
 ['4, 2, 3, 1, 0', 10, 4],
 ['4, 3, 0, 1, 2', 9, 3],
 ['4, 3, 0, 2, 1', 10, 4],
 ['4, 3, 1, 0, 2', 10, 2],
 ['4, 3, 1, 2, 0', 10, 3],
 ['4, 3, 2, 0, 1', 10, 2],
 ['4, 3, 2, 1, 0', 10, 3]]

In [50]:
df = pd.DataFrame(results,columns=['list', 'bubble', 'heap'])
df

              list  bubble  heap
0    0, 1, 2, 3, 4       4     4
1    0, 1, 2, 4, 3       7     4
2    0, 1, 3, 2, 4       7     5
3    0, 1, 3, 4, 2       9     5
4    0, 1, 4, 2, 3       7     5
..             ...     ...   ...
115  4, 3, 0, 2, 1      10     4
116  4, 3, 1, 0, 2      10     2
117  4, 3, 1, 2, 0      10     3
118  4, 3, 2, 0, 1      10     2
119  4, 3, 2, 1, 0      10     3

[120 rows x 3 columns]

In [51]:
df.describe()

           bubble        heap
count  120.000000  120.000000
mean     9.258333    3.933333
std      1.096180    1.382564
min      4.000000    1.000000
25%      9.000000    3.000000
50%     10.000000    4.000000
75%     10.000000    5.000000
max     10.000000    7.000000

In [52]:
import itertools

for perm in itertools.permutations(range(5)):
    L = list(perm)
    heapsort(L)
    print(f'{perm}  -> {L}')

(0, 1, 2, 3, 4)  -> [0, 2, 1, 4, 3]
(0, 1, 2, 4, 3)  -> [0, 2, 1, 3, 4]
(0, 1, 3, 2, 4)  -> [0, 1, 2, 4, 3]
(0, 1, 3, 4, 2)  -> [0, 2, 1, 3, 4]
(0, 1, 4, 2, 3)  -> [0, 1, 2, 3, 4]
(0, 1, 4, 3, 2)  -> [0, 1, 2, 3, 4]
(0, 2, 1, 3, 4)  -> [0, 1, 2, 4, 3]
(0, 2, 1, 4, 3)  -> [0, 1, 2, 3, 4]
(0, 2, 3, 1, 4)  -> [0, 1, 2, 4, 3]
(0, 2, 3, 4, 1)  -> [0, 1, 2, 3, 4]
(0, 2, 4, 1, 3)  -> [0, 1, 2, 3, 4]
(0, 2, 4, 3, 1)  -> [0, 1, 2, 3, 4]
(0, 3, 1, 2, 4)  -> [0, 1, 2, 4, 3]
(0, 3, 1, 4, 2)  -> [0, 1, 2, 3, 4]
(0, 3, 2, 1, 4)  -> [0, 2, 1, 4, 3]
(0, 3, 2, 4, 1)  -> [0, 2, 1, 3, 4]
(0, 3, 4, 1, 2)  -> [0, 1, 2, 3, 4]
(0, 3, 4, 2, 1)  -> [0, 1, 2, 3, 4]
(0, 4, 1, 2, 3)  -> [0, 1, 2, 3, 4]
(0, 4, 1, 3, 2)  -> [0, 1, 2, 3, 4]
(0, 4, 2, 1, 3)  -> [0, 2, 1, 3, 4]
(0, 4, 2, 3, 1)  -> [0, 2, 1, 3, 4]
(0, 4, 3, 1, 2)  -> [0, 2, 1, 3, 4]
(0, 4, 3, 2, 1)  -> [0, 1, 2, 3, 4]
(1, 0, 2, 3, 4)  -> [0, 2, 1, 4, 3]
(1, 0, 2, 4, 3)  -> [0, 2, 1, 3, 4]
(1, 0, 3, 2, 4)  -> [0, 1, 2, 4, 3]
(1, 0, 3, 4, 2)  -> [0, 2, 1, 3, 4]
(1, 0, 4, 2, 3)  -> [0, 1, 2, 3, 4]
(1, 0, 4, 3, 2)  -> [0, 1, 2, 3, 4]
(1, 2, 0, 3, 4)  -> [0, 1, 2, 4, 3]
(1, 2, 0, 4, 3)  -> [0, 1, 2, 3, 4]
(1, 2, 3, 0, 4)  -> [0, 1, 2, 4, 3]
(1, 2, 3, 4, 0)  -> [0, 1, 2, 3, 4]
(1, 2, 4, 0, 3)  -> [0, 1, 2, 3, 4]
(1, 2, 4, 3, 0)  -> [0, 1, 2, 3, 4]
(1, 3, 0, 2, 4)  -> [0, 1, 2, 4, 3]
(1, 3, 0, 4, 2)  -> [0, 1, 2, 3, 4]
(1, 3, 2, 0, 4)  -> [0, 2, 1, 4, 3]
(1, 3, 2, 4, 0)  -> [0, 2, 1, 3, 4]
(1, 3, 4, 0, 2)  -> [0, 1, 2, 3, 4]
(1, 3, 4, 2, 0)  -> [0, 1, 2, 3, 4]
(1, 4, 0, 2, 3)  -> [0, 1, 2, 3, 4]
(1, 4, 0, 3, 2)  -> [0, 1, 2, 3, 4]
(1, 4, 2, 0, 3)  -> [0, 2, 1, 3, 4]
(1, 4, 2, 3, 0)  -> [0, 2, 1, 3, 4]
(1, 4, 3, 0, 2)  -> [0, 2, 1, 3, 4]
(1, 4, 3, 2, 0)  -> [0, 1, 2, 3, 4]
(2, 0, 1, 3, 4)  -> [0, 1, 2, 4, 3]
(2, 0, 1, 4, 3)  -> [0, 1, 2, 3, 4]
(2, 0, 3, 1, 4)  -> [0, 2, 1, 4, 3]
(2, 0, 3, 4, 1)  -> [0, 1, 2, 3, 4]
(2, 0, 4, 1, 3)  -> [0, 2, 1, 3, 4]
(2, 0, 4, 3, 1)  -> [0, 2, 1, 3, 4]
(2, 1, 0, 3, 4)  -> [0, 1, 2, 4, 3]
(2, 1, 0, 4, 3)  -> [0, 1, 2, 3, 4]
(2, 1, 3, 0, 4)  -> [0, 2, 1, 4, 3]
(2, 1, 3, 4, 0)  -> [0, 1, 2, 3, 4]
(2, 1, 4, 0, 3)  -> [0, 2, 1, 3, 4]
(2, 1, 4, 3, 0)  -> [0, 2, 1, 3, 4]
(2, 3, 0, 1, 4)  -> [0, 1, 2, 4, 3]
(2, 3, 0, 4, 1)  -> [0, 1, 2, 3, 4]
(2, 3, 1, 0, 4)  -> [0, 1, 2, 4, 3]
(2, 3, 1, 4, 0)  -> [0, 1, 2, 3, 4]
(2, 3, 4, 0, 1)  -> [0, 2, 1, 3, 4]
(2, 3, 4, 1, 0)  -> [0, 2, 1, 3, 4]
(2, 4, 0, 1, 3)  -> [0, 1, 2, 3, 4]
(2, 4, 0, 3, 1)  -> [0, 1, 2, 3, 4]
(2, 4, 1, 0, 3)  -> [0, 1, 2, 3, 4]
(2, 4, 1, 3, 0)  -> [0, 1, 2, 3, 4]
(2, 4, 3, 0, 1)  -> [0, 1, 2, 3, 4]
(2, 4, 3, 1, 0)  -> [0, 1, 2, 3, 4]
(3, 0, 1, 2, 4)  -> [0, 1, 2, 4, 3]
(3, 0, 1, 4, 2)  -> [0, 1, 2, 3, 4]
(3, 0, 2, 1, 4)  -> [0, 2, 1, 4, 3]
(3, 0, 2, 4, 1)  -> [0, 2, 1, 3, 4]
(3, 0, 4, 1, 2)  -> [0, 2, 1, 3, 4]
(3, 0, 4, 2, 1)  -> [0, 1, 2, 3, 4]
(3, 1, 0, 2, 4)  -> [0, 1, 2, 4, 3]
(3, 1, 0, 4, 2)  -> [0, 1, 2, 3, 4]
(3, 1, 2, 0, 4)  -> [0, 2, 1, 4, 3]
(3, 1, 2, 4, 0)  -> [0, 2, 1, 3, 4]
(3, 1, 4, 0, 2)  -> [0, 2, 1, 3, 4]
(3, 1, 4, 2, 0)  -> [0, 1, 2, 3, 4]
(3, 2, 0, 1, 4)  -> [0, 1, 2, 4, 3]
(3, 2, 0, 4, 1)  -> [0, 1, 2, 3, 4]
(3, 2, 1, 0, 4)  -> [0, 1, 2, 4, 3]
(3, 2, 1, 4, 0)  -> [0, 1, 2, 3, 4]
(3, 2, 4, 0, 1)  -> [0, 1, 2, 3, 4]
(3, 2, 4, 1, 0)  -> [0, 1, 2, 3, 4]
(3, 4, 0, 1, 2)  -> [0, 1, 2, 3, 4]
(3, 4, 0, 2, 1)  -> [0, 1, 2, 3, 4]
(3, 4, 1, 0, 2)  -> [0, 1, 2, 3, 4]
(3, 4, 1, 2, 0)  -> [0, 1, 2, 3, 4]
(3, 4, 2, 0, 1)  -> [0, 2, 1, 3, 4]
(3, 4, 2, 1, 0)  -> [0, 2, 1, 3, 4]
(4, 0, 1, 2, 3)  -> [0, 1, 2, 3, 4]
(4, 0, 1, 3, 2)  -> [0, 1, 2, 3, 4]
(4, 0, 2, 1, 3)  -> [0, 2, 1, 3, 4]
(4, 0, 2, 3, 1)  -> [0, 2, 1, 3, 4]
(4, 0, 3, 1, 2)  -> [0, 2, 1, 3, 4]
(4, 0, 3, 2, 1)  -> [0, 1, 2, 3, 4]
(4, 1, 0, 2, 3)  -> [0, 1, 2, 3, 4]
(4, 1, 0, 3, 2)  -> [0, 1, 2, 3, 4]
(4, 1, 2, 0, 3)  -> [0, 2, 1, 3, 4]
(4, 1, 2, 3, 0)  -> [0, 2, 1, 3, 4]
(4, 1, 3, 0, 2)  -> [0, 2, 1, 3, 4]
(4, 1, 3, 2, 0)  -> [0, 1, 2, 3, 4]
(4, 2, 0, 1, 3)  -> [0, 1, 2, 3, 4]
(4, 2, 0, 3, 1)  -> [0, 1, 2, 3, 4]
(4, 2, 1, 0, 3)  -> [0, 1, 2, 3, 4]
(4, 2, 1, 3, 0)  -> [0, 1, 2, 3, 4]
(4, 2, 3, 0, 1)  -> [0, 1, 2, 3, 4]
(4, 2, 3, 1, 0)  -> [0, 1, 2, 3, 4]
(4, 3, 0, 1, 2)  -> [0, 1, 2, 3, 4]
(4, 3, 0, 2, 1)  -> [0, 1, 2, 3, 4]
(4, 3, 1, 0, 2)  -> [0, 1, 2, 3, 4]
(4, 3, 1, 2, 0)  -> [0, 1, 2, 3, 4]
(4, 3, 2, 0, 1)  -> [0, 2, 1, 3, 4]
(4, 3, 2, 1, 0)  -> [0, 2, 1, 3, 4]